.svn
.settings
bin
gen
pkg

/backup
/.metadata

*.bak

gradle-app.setting
.gradle
build
.idea
.metadata

*.bak

/local.properties
.classpath

.project
*.iml
/gradle
/gradlew
/gradlew.bat
*.properties
/OSMBonusPack
/osmdroid-android
