.svn
.settings
bin
gen
pkg

/backup
/.metadata

*.bak

gradle-app.setting
.gradle
build
.idea
.metadata

*.bak

/local.properties
.classpath

.project
*.iml
#*.properties
/OSMBonusPack
/osmdroid-android
/wiki/png/temp.png
/mark.txt
/statistic.txt
/ToDo2.txt
/fotolib2/src/test/resources/de/k3b/media/old
/app/build-with-sign.gradle
/todo
