<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.k3b.android.fotoviewer" >

    <!-- to read fotos from gallery in android-4.4 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/foto_gallery"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- for internal test only -->
        <activity
            android:name=".directory.DirPickerTestActivity"
            android:label="@string/title_activity_directory_chooser" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".FotoGalleryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".imagedetail.ImageDetailActivityViewPager"
            android:ellipsize="middle" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".GalleryFilterActivity"
            android:label="@string/title_activity_gallery_filter" >
        </activity>
    </application>

</manifest>
